#parse("base.html")
#@mainLayout()
<h1>Light Detail</h1>
<div>
    <a href="/">
        Retour au menu
    </a>
    <table>
        <thead>
        <tr>
            <th>Action</th>
            <th>Type</th>
            <th>Name</th>
            <th>State</th>
            <th>IsLight</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="/things/$thingId?action=toggle">
                    #if ($thing.isLightOn())
                    Toggle Off
                    #else
                    Toggle On
                    #end
                </a>
            </td>
            <td>$thing.getTypeName()</td>
            <td>$thing.getName()</td>
            <td>$thing.getState().name()</td>
            <td>$thing.isLightOn()</td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
#end
